<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Udesa Movies</h1>
    <h3>Menu</h3>
    <% if(locals.user){ %>
        <p>Hola <%= user.email%> </p>
      <% } else {%>
        <p>No estás logueado</p>
      <% }%>
    <nav>
      <% if(locals.user) {%>  
        <form action="/users/logout" method="POST">
          <button type="submit">Logout</button>
        </form>
        <ul>
          <% } else { %> 
            <li><a href="/users/register">Registrate</a></li>
            <li><a href="/users/login">Login</a></li>
          <% } %> 
      </ul>
    </nav>
    <p>Lista de películas</p>
    <ul>
      <% for(let i=0; i<movies.length; i++) {%>
        <% if(movies[i].genre){%>
        <li> <a href="/movie/<%= movies[i].id %>"> <%= movies[i].title %></a> Genero: <%= movies[i].genre.name %></li>  
        <% } else{ %>
          <li> <a href="/movie/<%= movies[i].id %>">
              <%= movies[i].title %>
            </a> Genero: La peli no tiene género
          </li>
        <% } %> 
      <% } %> 
    </ul>
  </body>
</html>
